In [21]:
import pandas as pd

df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv')
df.tail()

   Month   "1958"   "1959"   "1960"
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [33]:
print(df.isna().sum())
print(df.shape)

Month      0
 "1958"    0
 "1959"    0
 "1960"    0
dtype: int64
(12, 4)

In [32]:
df1 = df.copy()
df1.dropna()
print(df1.isna().sum())

Month      0
 "1958"    0
 "1959"    0
 "1960"    0
dtype: int64

In [36]:
df[1958] = df[1958].fill("HAHA")
df.head()

KeyError: 1958

In [38]:
print(df.duplicated().sum())

0

In [41]:
df = df.drop_duplicates()
df.head()

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472