In [9]:
#Connecting to a Database

import sqlite3
conn = sqlite3.connect('data_science.sqlite')
cursor = conn.cursor()

cursor.execute('SELECT SQLITE_VERSION()')
data = cursor.fetchone()
print("SQLite version: %s" % data) 
print("Opened database successfully")

SQLite version: 3.40.0
Opened database successfully

In [2]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 639.0 kB/s eta 0:00:00 0:00:01
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [3]:
#Connecting to a Database

import sqlite3
conn = sqlite3.connect('data_science.sqlite')
cursor = conn.cursor()

print("Opened database successfully")

Opened database successfully

In [4]:
#Creating a Table

cursor.execute('''CREATE TABLE STUDENT101
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         MARKS          INT);''')
cursor.close()

In [7]:
#INSERTING records in the TABLE
conn = sqlite3.connect('data_science.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO STUDENT101 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (101, 'Ashwin', 20, 'Delhi', 98)");
cursor.execute("INSERT INTO STUDENT101 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (102, 'Megha', 19, 'Chennai', 96 )");
cursor.execute("INSERT INTO STUDENT101 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (103, 'Shashank', 19, 'Hyderabad', 97 )");
cursor.execute("INSERT INTO STUDENT101 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (104, 'Prem', 20, 'Bangalore', 99)");
conn.commit()
conn.close()

In [8]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("data_science.sqlite")
df = pd.read_sql_query("SELECT * from STUDENT101", conn)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

conn.close()

    ID      NAME  AGE    ADDRESS  MARKS
0  101    Ashwin   20      Delhi     98
1  102     Megha   19    Chennai     96
2  103  Shashank   19  Hyderabad     97
3  104      Prem   20  Bangalore     99

In [9]:
#SELECTING all the records from the TABLE
conn = sqlite3.connect('data_science.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT * from STUDENT101"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("AGE = ", row[2])
    print("ADDRESS = ", row[3])
    print("MARKS = ", row[4], "\n")
conn.commit()
conn.close()

ID =  101
NAME =  Ashwin
AGE =  20
ADDRESS =  Delhi
MARKS =  98

ID =  102
NAME =  Megha
AGE =  19
ADDRESS =  Chennai
MARKS =  96

ID =  103
NAME =  Shashank
AGE =  19
ADDRESS =  Hyderabad
MARKS =  97

ID =  104
NAME =  Prem
AGE =  20
ADDRESS =  Bangalore
MARKS =  99

In [10]:
#SELECTING specfic records from the TABLE

conn = sqlite3.connect('data_science.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT id, name, marks from STUDENT101"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  101
NAME =  Ashwin
MARKS =  98

ID =  102
NAME =  Megha
MARKS =  96

ID =  103
NAME =  Shashank
MARKS =  97

ID =  104
NAME =  Prem
MARKS =  99

In [12]:
#UPDATING Records in the TABLE

conn = sqlite3.connect('data_science.sqlite')
cursor = conn.cursor()
conn.execute("UPDATE STUDENT101 set MARKS = 99 where ID = 103")
conn.commit()
for row in cursor.execute("SELECT id, name, marks from STUDENT5"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  101
NAME =  Ashwin
MARKS =  98

ID =  103
NAME =  Shashank
MARKS =  99

ID =  104
NAME =  Prem
MARKS =  99

In [14]:
#DELETE Operation

conn = sqlite3.connect('data_science.sqlite')
cursor = conn.cursor()
conn.execute("DELETE from  STUDENT101 where ID = 102")
conn.commit()
for row in cursor.execute("SELECT id, name, address, marks from STUDENT101"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])   
    print("MARKS = ", row[3], "\n")
conn.commit()
conn.close()

ID =  101
NAME =  Ashwin
ADDRESS =  Delhi
MARKS =  98

ID =  103
NAME =  Shashank
ADDRESS =  Hyderabad
MARKS =  99

ID =  104
NAME =  Prem
ADDRESS =  Bangalore
MARKS =  99

In [21]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data_science.sqlite")
df = pd.read_sql_query("SELECT * from STUDENT101", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

    ID      NAME  AGE    ADDRESS  MARKS
0  101    Ashwin   20      Delhi     98
1  102     Megha   19    Chennai     96
2  103  Shashank   19  Hyderabad     99
3  104      Prem   20  Bangalore     99

In [6]:
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
#Accessing the Database with the sqlite3 Package
# Creating the connection to database
con = sqlite3.connect('soccer.sqlite')
cursor = con.cursor()